
<div class="container">
  <h1>Weather Forecast</h1>

  <%= form_with url: weather_index_path, method: :get do |form| %>
    <div class="field">
      <%= form.label :address, "Enter Address:" %>
      <br/>
      <%= form.text_area :address, value: @address, cols: 55, rows: 5 %>
    </div>
    <%= form.submit "Get Weather" %>
  <% end %>
    
    <br/>
    <br/>

  <% if @weather_data %>
    <table class="weather-results">
        <% @weather_data.each do |data| %>
            <tr class="forecast-day">
                <td class="day">
                    <%= data[:name] %> 
                </td>
                <td class="day">
                    <%= data[:day] %>
                </td>
                <td class="temp">
                    <b><%= data[:high] ? %{#{data[:high]}°/} : "" %></b><%= data[:low] %>° <%= data[:temp_unit] %>
                </td>
                <td class="wind">
                    <%= data[:wind_speed] %>
                    out of <%= data[:wind_direction] %>
                </td>
                <td class="wind">
                    <img src="<%= data[:wind_icon] %>" alt="Wind Icon" class="weather-icon" style="height: 70px; width: 70px;">
                </td>
                <td class="precipitation">
                    <%= data[:description] %>
                </td>
            </tr>
        <% end %>
    </table>
    <% if @from_cache %>
      <p class="cache-notice">
        * Results from cache (valid for 30 minutes)
        <%= link_to "Bust Cache!", weather_index_path(address: @address, force: true), method: :get %>
      </p>
    <% end %>
  <% elsif @address.present? %>
    <p class="error">Could not retrieve weather data for that address.</p>
  <% end %>
</div>